spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/spring-security-core
    username: postgres
    password: 602057
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  thymeleaf:
    cache: false
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  main:
    allow-bean-definition-overriding: true

logging:
  level:
    org.hibernate.SQL: debug
